{{ define "Create" }}
{{ template "Header" }}
{{ template "Menu" }}
<br>
    <h1>Create Customer</h1>
<br>
<br>
<form action="/insert" method="post">
    Customer Name: <input type="text" name="customer_name" placeholder="customer name" autofocus>
    <br>
    <br>
    SSN: <input type="text" name="ssn" placeholder="ssn"/>
    <br>
    <br>
    <input type="submit" value="Create Customer">
</form>
{{ template "Footer" }}
{{ end }}